:root {
  --button-color-hover: #dbb698;
  --background-color: #f7f7f7;
  --color-white: #fffdf9;
  --button-color: #e0c0a7;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
p,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0px auto;
  max-width: 428px;
  background-image: url(./pictures/BG-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    background-image: no-repeat url(./pictures/BG-06.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
    background-image: no-repeat url(./pictures/BG-07.jpg);
  }
}
main {
  height: 80%;
  overflow: auto;
  scrollbar-color: var(--button-color) #9fcee2;
  scrollbar-width: thin;
}
.display-none {
  display: none;
}
.header-logo {
  display: block;
  height: 120px;
  margin-left: auto;
}
section {
  margin-top: 80px;
  padding: 0px 70px;
}
.hero-header {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero-subheader {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 60px;
}
.hero-description {
  font-size: 22px;
  margin-bottom: 100px;
}
button {
  padding: 14px 24px;
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--button-color);
  border-radius: 16px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1rem;
}
button:hover {
  background-color: var(--button-color-hover);
}
.start-button {
  display: block;
  margin: 20px auto 0px;
}
.start-button:hover,
.start-button:hover:focus {
  background-color: var(--button-color-hover);
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.question-header {
  font-size: 22px;
}
.question-text {
  font-size: 16px;
  margin-bottom: 20px;
}
.answer-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 20px;
  margin-bottom: 40px;
}
.results-text {
  font-size: 24px;
  margin-bottom: 20px;
}
.results-list {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.results-note {
  font-size: 12px;
  margin-bottom: 20px;
}
.results-subheader {
  font-size: 18px;
  margin-bottom: 10px;
}
